/dict
/if else 2.py
/if else 3 copy.py
/if else.py
/list(map(float,input(),split())) copy.py
/list(map(float,input(),split())).py
/Аргументы
/кратко.py
/Множества set
/Списки(добавление,представление всего списка,удаление).py
/срезы.py